<div class="login">

  <%= form_with(model: pedido, local: true) do |form| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %>
        prohibited this pedido from being saved:</h2>

      <ul>
        <% pedido.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-8">
      <div class="field form-group">
        <%= form.label :ingresso_id %>
        <%= select_tag 'ingresso_id', options_from_collection_for_select(Ingresso.all, 'id', 'nome'),:class => "form-control"%>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field form-check">
        <%= form.label :pago , :class => "form-check-label"%>
        <%= form.check_box :pago, id: :pedido_pago, :class => "form-check-input"%>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Criar novo Pedido", :class => "btn btn-outline-danger title_btn"%>
  </div>
<% end %>

</div>
