<p id="notice"><%= notice %></p>

<h2>Esses são seus pedidos
  <%= current_comprador.nome %>
</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Ingresso</th>
      <th scope="col">Data</th>
      <th scope="col">preco</th>
      <th scope="col">taxa</th>
      <th scope="col">Pago</th>
    </tr>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.ingresso.nome %></td>
        <td><%= pedido.ingresso.data.strftime('%d/%m/%Y') %></td>
        <td><%= pedido.ingresso.preco %></td>
        <td><%= pedido.ingresso.taxa %></td>
        <td><%= pedido.pago %></td>
        <td><%= link_to 'Mostrar', pedido %></td>
        <td><%= link_to 'Editar', edit_pedido_path(pedido) %></td>
        <td><%= link_to 'Cancelar', pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedido', new_pedido_path %>
