<% if notice %>
  <div class="alert alert-warning mt-3" role="alert">
    <%= notice %>
  </div>
<% end%>

<h2>Esses são seus pedidos
  <%= current_comprador.nome %>
</h2>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col" class="title_header">Nome do Ingresso</th>
      <th scope="col" class="title_header">Data</th>
      <th scope="col" class="title_header">preco</th>
      <th scope="col" class="title_header">taxa</th>
      <th scope="col" class="title_header">Pago</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.ingresso.nome %></td>
        <td><%= pedido.ingresso.data.strftime('%d/%m/%Y') %></td>
        <td><%= pedido.ingresso.preco %></td>
        <td><%= pedido.ingresso.taxa %></td>
        <% if pedido.ingresso.taxa == "false" %>
            <td><i class="material-remove"></i></td>
        <% else %>
            <td>true</td>
        <%end%>
        <td><%= pedido.pago %></td>
        <td><%= button_to "Mostrar", pedido, :class => "btn btn-sm btn-outline-danger title_btn", :method => :get %>
        </td>
        <td><%= button_to "Editar", edit_pedido_path(pedido), :class => "btn btn-sm btn-outline-danger title_btn", :method => :get %>
        </td>
        <td><%= button_to "Cancelar", pedido, :class => "btn btn-sm btn-outline-danger title_btn", method: :delete, data: { confirm: 'Are you sure?' }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to "Novo Pedido", new_pedido_path, :class => "btn btn-outline-danger title_btn", :method => :get %>
