<% if notice %>
  <div class="alert alert-warning mt-3" role="alert">
    <%= notice %>
  </div>
<% end%>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col" class="title_header">Comprador</th>
        <th scope="col" class="title_header">Ingresso</th>
        <th scope="col" class="title_header">Pago</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @pedido.comprador.nome %></td>
        <td><%= @pedido.ingresso.nome %></td>
        <td><%= @pedido.pago %></td>
      </tr>
    </tbody>
  </table>
<%= link_to 'Editar', edit_pedido_path(@pedido), :class => "btn btn-outline-danger title_btn"%>
<%= link_to 'Voltar', pedidos_path, :class => "btn btn-outline-danger title_btn"%>
