<%= form_with(model: ingresso, local: true) do |form| %>
  <% if ingresso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingresso.errors.count, "error") %> prohibited this ingresso from being saved:</h2>

      <ul>
      <% ingresso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco, id: :ingresso_preco %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :ingresso_nome %>
  </div>

  <div class="field">
    <%= form.label :taxa %>
    <%= form.text_field :taxa, id: :ingresso_taxa %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.datetime_select :data, id: :ingresso_data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
