<div class="login">
  <% if notice %>
    <div class="alert alert-warning mt-3" role="alert">
      <%= notice %>
    </div>
  <% end%>
  <%= form_with(model: ingresso, local: true) do |form| %>
  <% if ingresso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingresso.errors.count, "error") %>
        prohibited this ingresso from being saved:</h2>

      <ul>
        <% ingresso.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-2">
      <%= form.label :preco %>
    </div>
    <div class="col-md-8">
      <%= form.text_field :preco, id: :ingresso_preco, :class => "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= form.label :nome %>
    </div>
    <div class="col-md-8">
      <%= form.text_field :nome, id: :ingresso_nome, :class => "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= form.label :taxa %>
    </div>
    <div class="col-md-8">
      <%= form.text_field :taxa, id: :ingresso_taxa, :class => "form-control"%>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :data %>
    <%= form.datetime_select :data, { ampm: false }, { class: "mr-2 mt-2 form-control" } %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar", :class => "btn btn-outline-danger title_btn"%>
  </div>
<% end %>
</div>
