<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @comprador.nome %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @comprador.telefone %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @comprador.admin %>
</p>

<%= link_to 'Edit', edit_comprador_path(@comprador) %> |
<%= link_to 'Back', compradors_path %>
